.ir {
    overflow-x: hidden;
    display: flex;
        flex-direction: column;
}

button {
    cursor: pointer;
}

.text {
    min-width: 320px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

.text h1,
h4 {
    margin: 0;
    text-transform: uppercase;
    color: white;
        font-family: hitch, sans-serif;
        font-size: xx-large;
}

.text h5 {
    font-family: sans-serif;
}

.text h3 {
    font-size: medium;
}
#play {
    background-color: transparent;
        color: white;
        border-color: white;
    font-size: large;
    margin-top: 10px;
        min-width: 250px;
        min-height: 50px;
        border-radius: 20px;
}
