body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
        height: 100vh;
        background-color: #eadb07;
    }
    
    .leftimg,
    .rightimg {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width: 600px) {
        .imgs {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
        }
    
        .leftimg,
        .rightimg {
            height: 50%;
            width: 100%;
        }
    
        .leftimg img,
        .rightimg img {
            /* width: 100vw; */
            max-height: 100%;
            object-fit: fill;
        }
}

.leftimg button {
    position: absolute;
}

.rightimg button {
    position: absolute;
}

#b1 {
    position: relative;
    z-index: 3;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    font-weight: bolder;
    height: 50px;
    border: 2px solid #3d3913;
    color: #eadb07;
    font-size: larger;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
        -3px 0px 7px rgba(81, 67, 21, 0.8),
        0px 4px 7px rgba(81, 67, 21, 0.8);
}

.or {
    width: 100px;
        height: 100px;
        position: relative;
        z-index: 3;
        border-radius: 100%;
        border: none;
        font-size: 30px;
}

.score {
    position: absolute;
    color: #cfc547;

    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);
}

.leftimg img,
.rightimg img {
        width: 100%;
            height: 100vh;
            filter: brightness(60%);
            }
            
            @font-face {
                font-family: hitch;
                src: url(../public/Hitchcut-Regular.ttf);
            }
            
            .nameMovie {
                position: absolute;
                color: aliceblue;
                z-index: 10;
                margin: 0;
                /* height: fit-content; */
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .nameMovie h3 {
                font-size: 50px;
                margin: 0;
                padding: 0;
            }
            
            .nameMovie h2 {
                font-size: 40px;
                margin: 0;
                padding: 0;
            }
            
            #playy {
                cursor: pointer;
                color: #ffee00;
                background-color: transparent;
                font-size: large;
                min-width: 150px;
                min-height: 50px;
                border-radius: 20px;
                border: 1px solid white;
                margin: 5px;
            }
            
            .btns {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-height: 300px;
            }
            
            .score {
                z-index: 10;
                text-align: center;
                margin-bottom: 0;
                font-size: small;
                justify-content: center;
}

