body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftimg button {
    position: absolute;
}

.rightimg button {
    position: absolute;
}

#b1,
.or {
    position: relative;
    z-index: 3;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    font-weight: bolder;
    height: 50px;
    border: 2px solid #3d3913;
    color: #eadb07;
    font-size: larger;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
        -3px 0px 7px rgba(81, 67, 21, 0.8),
        0px 4px 7px rgba(81, 67, 21, 0.8);
}

.or {
    width: 40%;
    height: 50%;
}

.score {
    position: absolute;
    color: #cfc547;

    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);
}

.leftimg img,
.rightimg img {
        width: 40vw;
            height: 100vh;
}

